Breast_Cancer_Predic_flow.json
[{"id":"fa370442.981fe8","type":"function","z":"568b9e3b.be603","name":"PreToken","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nvar apikey=\"dYwiFHp8zbSi_JsrAqvpvZVONP_kWoTcNza_hPG9dBdL\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":320,"wires":[["892d6b56.25a1a8"]]},{"id":"892d6b56.25a1a8","type":"http request","z":"568b9e3b.be603","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":320,"wires":[["f827daea.ab5308"]]},{"id":"e8515936.adcdb8","type":"inject","z":"568b9e3b.be603","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["fa370442.981fe8"]]},{"id":"65277809.51ce58","type":"debug","z":"568b9e3b.be603","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":80,"wires":[]},{"id":"f827daea.ab5308","type":"function","z":"568b9e3b.be603","name":"Pre Prediction","func":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\nvar token=msg.payload.access_token\nvar instance_id=\"bddd4e9e-8e40-4c63-869c-cd6804987188\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"],\"values\": [[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[["5c644783.6cf368"]]},{"id":"5c644783.6cf368","type":"http request","z":"568b9e3b.be603","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/87d6438b-27fb-43f1-938f-8a9168276190/predictions","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":240,"wires":[["73b8198f.7d5cf8"]]},{"id":"73b8198f.7d5cf8","type":"function","z":"568b9e3b.be603","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":140,"wires":[["65277809.51ce58","415acfd2.08599"]]},{"id":"f59a06a3.bdf9e8","type":"ui_form","z":"568b9e3b.be603","name":"","label":"","group":"85521dbf.447f3","order":1,"width":0,"height":0,"options":[{"label":"mean_radius","value":"mr","type":"number","required":true,"rows":null},{"label":"mean_texture","value":"mt","type":"number","required":true,"rows":null},{"label":"mean_perimeter","value":"mp","type":"number","required":true,"rows":null},{"label":"mean_area","value":"ma","type":"number","required":true,"rows":null},{"label":"mean_smoothness","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":380,"wires":[["fa370442.981fe8"]]},{"id":"415acfd2.08599","type":"ui_text","z":"568b9e3b.be603","group":"85521dbf.447f3","order":2,"width":0,"height":0,"name":"","label":"Probability of Breast Cancer","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":440,"wires":[]},{"id":"85521dbf.447f3","type":"ui_group","z":"","name":"Default","tab":"6debca69.1bf244","order":1,"disp":true,"width":"8","collapse":false},{"id":"6debca69.1bf244","type":"ui_tab","z":"568b9e3b.be603","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]